header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #ffffff;

  img {
    margin-left: 2rem;
  }

  ul {
    display: flex;
    width: 22%;
    justify-content: space-between;
    margin-right: 3rem;
    li {
      list-style: none;
      color: #000000;
      font-family: "Poppins", sans-serif;
      font-size: 1.25rem;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
      }
    }
  }
}
