header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  box-shadow: 0px 5px 5px 0px #00000040;
  background-color: #ffffff;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;

  img {
    margin-left: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  .hamburger-img {
    display: none;
  }

  ul {
    display: flex;
    width: 22%;
    justify-content: space-between;
    margin-right: 3rem;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: #000000;
        font-family: "Poppins", sans-serif;
        font-size: 1.25rem;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    height: 10vh;

    img {
      width: 35vw;
    }

    .hamburger-img {
      display: flex;
      margin-right: 2rem;
      z-index: 20;
      cursor: pointer;

      img {
        width: 10vw;
        height: auto;
        margin-left: 8rem;
      }
    }

    ul {
      position: absolute;
      top: 10vh;    //Fica logo abaixo do header fixo
      width: 100%;
      background: #ffffff;
      flex-direction: column;
      align-items: center;
      padding: 0;
      gap: 1.5rem;
      
      /* estado fechado */
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease-in-out, padding 0.3s;

      li {
        width: 25%;

        a {
          font-size: 1.3rem;
        }
      }
    }

    /* menu aberto */
    .menu-open {
      padding: 2.5rem 0;
      max-height: 500px;
      font-size: 3rem;
    }
  }
}
