.lancamentos {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  h2 {
    color: #2d2d2d;
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }

  .alinhamento {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

    .imagens-kits {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    #modelo {
      width: 25%;
    }

    .box-testagem {
      width: 25%;
      box-shadow: 0px 4px 4px 0px #00000040;
      padding: 1.5rem;
      margin-top: 2rem;

      #estrelas {
        width: 25%;
        margin-bottom: 0.5rem;
      }

      h4 {
        color: #2d2d2d;
        font-size: 1.5rem;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }

      .subtitulo {
        color: #000000;
        font-size: 0.625rem;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        margin-bottom: 0.5rem;
      }

      .carrossel-container {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 100%;
        margin: 10px 0;

        .nav-btn {
          background: none;
          border: none;
          cursor: pointer;
          padding: 2px;
          width: 10%;

          #seta-esquerda,
          #seta-direita {
            width: 65%;
          }
        }

        .carrossel {
          display: flex;
          gap: 10px;
          overflow-x: auto;
          scroll-behavior: smooth;
          scrollbar-width: none;
          width: 260px;
          padding: 10px;
          height: 7vh;

          &::-webkit-scrollbar {
            display: none;
          }

          button {
            padding: 8px 21px;
            border-radius: 50%;
            cursor: pointer;
            border: none;
            white-space: nowrap;

            &:hover {
              opacity: 0.8;
              transition: 0.3;
            }
          }

          #azul {
            background-color: #b1b0d8;
          }

          #vermelho {
            background-color: #e1342a;
          }

          #marrom {
            background-color: #73282d;
          }

          #base {
            background-color: #de755e;
          }

          #rosa {
            background-color: #dd5c86;
          }

          #vermelhoR {
            background-color: #b42b3c;
          }

          #lilas {
            background-color: #906276;
          }

          #marromE {
            background-color: #48312e;
          }
        }
      }

      .subtitulo-2 {
        color: #2d2d2d;
        font-size: 1.25rem;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        margin-bottom: 1rem;
      }

      .descricao {
        color: #2D2D2D;
        font-size: 1rem;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
      }
    }
  }
}
