.banner {
  height: 85vh;
  background-color: bisque;
  background-image: url(../../assets/Banner/Banner.png);
  background-size: cover;
  background-size: 100% 90vh;
  background-repeat: no-repeat;
}
